<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

 -->

<form action="action_page.php" method="post">
  First name:<br>
  <input type="text" name="firstname" value="Kyle">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Rosales">
  <br>
  Student number:<br>
  <input type="text" name="lastname" value="201406463">
  <br>
  <input type="submit" value="Login">
</form>