<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

 -->

<form action="{% url 'logbook:login' %}" method="post">
  {% csrf_token %}
  First name:<br>
  <input type="text" name="first_name" value="Kyle">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="Rosales">
  <br>
  Student number:<br>
  <input type="text" name="student_number" value="201406463">
  <br>
  <input type="submit" value="Login">
</form>